server:
  port: 8080

spring:
  application:
    name: autocomplete-service

  datasource:
    url: jdbc:postgresql://localhost:5432/autocomplete_db
    username: autocomplete_user
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql:true

  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    root: INFO
    com.autocomplete: DEBUG
