server:
  port: 8080

spring:
  application:
    name: autocomplete-service

  datasource:
    url: jdbc:postgresql://localhost:5432/autocomplete_db
    username: autocomplete_user
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql:true
#  devtools:
#    restart:
#      enabled: true

logging:
  level:
    root: INFO
    com.autocomplete: DEBUG
